.modificator,
.modificators .modificator {
	display: inline-block;
	border-radius: 8px;
	padding: 0px 4px;
	font-size: .9em;
	font-weight: bold;
	background: #222;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px black;
}

.modificator.old:before,
.modificator.new:before,
.modificator.brand-new:before,
.modificator.with-output:before,
.modificator.with-image:before,
.modificator.time:before,
.modificator.clon:before,
.modificator.user:before,

.modificator.auto-recidivist:before,
.modificator.recidivist:before,

.modificator.icon:before {
	font-family: FontAwesome;
	font-weight: normal;
	padding: 0px 2px 0px 3px;

	content: "\f187";
}

.modificator.time:before {
	content: '\f017';
	padding-right: 5px;
}

.modificator.stability {
	min-width: 4em;
    text-align: right;
}

.modificator.new {background: orange;}
.modificator.new:before {content: "\f12a";}
.modificator.new:after {content: "NEW!";}

.modificator.old {background: SaddleBrown;}
.modificator.old:before {content: "\f187";}
.modificator.old:after {content: "OLD";}

.modificator.brand-new {background: orange;}
.modificator.brand-new:before {content: "\f12a";}
.modificator.brand-new:after {content: "BRAND NEW!";}

.modificator.with-output {background: CadetBlue;}
.modificator.with-output:before {content: "\f0f6";}

.modificator.with-image { background: DarkOliveGreen; }
.modificator.with-image:before {content: "\f03e";}

.modificator.clon {background: FireBrick;}
.modificator.clon:before {content: "\f0c5";}
.modificator.clon:after {content: "CLON";}

.modificator.auto-recidivist,
.modificator.recidivist { background: orange; }
.modificator.auto-recidivist:before,
.modificator.recidivist:before {content: "\f071";}

.modificator.user:before {
	content: "\f007";
	padding-right: 5px;
}