::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 1;
  transition: opacity 500ms, width 200ms;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border: 0px none #666666;
  /*border-radius: 50px;*/
}
::-webkit-scrollbar-track {
  background: #444;
  border: 0px none #222222;
  /*border-radius: 50px;*/
}
::-webkit-scrollbar-corner {
  background: transparent;
}