* {
	margin: 0;
	padding: 0;

	transition: opacity 150ms,
		height 400ms,
		background-color 150ms,
		margin 300ms,
		padding 300ms,
		width 300ms,
		height 300ms
	;
}

html, body {
	font: normal 14px/20px 'Trebuchet MS', Sans-Serif;
	height: 100%;
	color: #222;

	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 12px 6px;
	color: #00A818;
	text-shadow: 0px 0px 1px #00A818/*, 2px 2px 3px #ccc*/;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.error-message {
	padding: 12px 6px;
	background-color: #D98B89;
	color: #222;
	font-size: 1.2em;
	margin-bottom: 12px;
	border-radius: 12px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.item {
	background-color: #ddd;
	padding: 2px;
	position: relative;
}

.item:hover {
	background-color: #ccc;
}

.item .title {
	clear: both;
	display: block;
}

.expandable >.title {
	cursor: pointer;
}

.item >.title * {
	float: left;
	padding-left: 5px;
}

.item .keyword {
	font-weight: bold;
}

.item.passed {
	background-color: #C4D88D;
	color: #222;
}

.item.failed {
	background-color: #D98B89;
	color: #222;
}

.item.skipped {
	background-color: #63CBED;
	color: #222;
}

.itemised-list {
	list-style: none;
}
.item .itemised-list {
	clear: both;
	float: initial;
}

.item.nightly {
	background: #00A818;
	border-radius: 12px;
	margin-bottom: 4px;

	position: relative;
	top: 0px;
	left: 0px;
	transition: font-size 300ms, box-shadow 600ms, top 300ms, left 300ms;
}

.item.nightly:hover {
	position: relative;
	top: -0.25em;
	left: -0.25em;
	box-shadow: 5px 5px 15px rgba(0,0,0,.6);
	transition: box-shadow 300ms, top 300ms, left 300ms;
}

.item.nightly.active {
	box-shadow: inset 0px 0px 15px #fff;
	background: #009000;
}
.item.nightly:hover.active {
	box-shadow: inset 0px 0px 15px #fff;
	top: 0px;
	left: 0px;
}

.item.nightly a {
	color: #fff;
	line-height: 2em;
	display: block;
    text-decoration: none;
}
.item.nightly a:before {
	content: " ";
	background-image: url('cucumber-mark-white.svg');
	width: 0.84em;
	height: 1em;
	display: inline-block;
	float: left;
	margin: 4px .25em 0px 5px;
	background-size: 100% 100%;
	font-size: 1.85em;
}

.item.nightly.last-execution {
	background: #87CEFA;
}

.item.nightly.last-execution.active {
	background: #7eb5e2;
}

.item .right,
.right {
	float: right;
}

.panel {
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
}

.panel.full {
	background: #002200 linear-gradient(to bottom, #224422 0px,#cccccc 10px, #aaa 32px, #668666 36px,#002200 200px);
	box-shadow: 2px 2px 5px #000;
}

.panel.full h1,
.panel.full h2,
.panel.full h3,
.panel.full h4,
.panel.full h5,
.panel.full h6 {
	padding-top: 0px;
}

ul.description {
	list-style: none;
    background: #ccc;
    margin-bottom: 5px;
}

ul.description li {
	float: left;
	width: 50%;
	padding: 3px 0px;
    text-indent: 7px;
}

ul.image-list {
	list-style: none;
}

#applicationHost {
	min-height: 100%;
	background: #222;
}

#shell {
	padding: 0px 10px;
}

.loading-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
}
.loading-container.hover {
	background-color: rgba(0,0,0,.2);
}
.loading {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -25px;
}

.loading > div {
	background-color: #00A818;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loading .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.loading .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.loading .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.loading .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.main-container >.menu {
	float: left;
	width: 15%;
}

.main-container >.menu .nightlies-container {
	font-size: 1em;
}

.main-container >.menu.alone {
	margin-left: 20%;
	width: 60%;
	float: initial;
}

.main-container >.menu.alone .nightlies-container {
	font-size: 1.5em;
}

.main-container >.container {
	float: right;
	width: 84%;
}

.hidden {
	opacity: 0 !important;
	height: 0px !important;
	width: 0px !important;
	overflow: hidden !important;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
	min-height: 0px !important;
    min-width: 0px !important;
}

.hidden.no-trans{
	transition: none !important;
}

.not-important {
	opacity: .8;
}
.important {
	opacity: 1;
}

.with-image {
	background-image: url('image.gif');
	background-position: 99% .3em;
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.with-output {
	background-image: url('information.png');
	background-position: 99% .3em;
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.with-output,
.with-image {
	background-image: url('information.png'), url('image.gif');
	background-position: 97% .3em, 99% .3em;
}

.output {
	background: #222;
    color: #eee;
    padding: .5em;
    overflow: auto;
    max-height: 20em;
}
