::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  opacity: 0.2;
  transition: opacity 500ms, width 200ms;
}
::-webkit-scrollbar:hover {
  opacity: 1;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border: 0px none #666666;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #444;
  border: 0px none #222222;
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

* {
	margin: 0;
	padding: 0;

	transition: opacity 150ms,
		height 400ms,
		background-color 150ms,
		margin 300ms,
		padding 300ms,
		width 300ms,
		height 300ms
	;
}

html, body {
	font: normal 14px/20px 'Trebuchet MS', Sans-Serif;
	height: 100%;
	color: #222;

	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	padding: 12px 6px;
	color: #00A818;
	text-shadow: 0px 0px 1px #00A818/*, 2px 2px 3px #ccc*/;
	font-family: 'Ubuntu', sans-serif;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.error-message {
	padding: 12px 6px;
	background-color: #D98B89;
	color: #222;
	font-size: 1.2em;
	margin-bottom: 12px;
	border-radius: 12px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.item {
	background-color: #ddd;
	padding: 2px;
	position: relative;
	opacity: .8;
}

.item.expanded,
.item.expandable:hover {
	opacity: 1;
}

.item .title {
	clear: both;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.expandable >.title {
	cursor: pointer;
}

.item >.title * {
	padding-left: 5px;
	white-space: nowrap;
}
.item >.title .name {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 99;
}

.item .keyword {
	font-weight: bold;
}

.passed,
.item.passed {
	background-color: #C4D88D;
	color: #222;
}

.failed,
.item.failed {
	background-color: #D98B89;
	color: #222;
}

.skipped,
.item.skipped {
	background-color: #63CBED;
	color: #222;
}

.itemised-list {
	list-style: none;
}
.item .itemised-list {
	clear: both;
	float: initial;
}

.item.nightly {
	background: #00A818;
	border-radius: 12px;
	margin-bottom: 4px;

	position: relative;
	top: 0px;
	left: 0px;
	transition: font-size 300ms, box-shadow 600ms, top 300ms, left 300ms;
}

.item.nightly:hover {
	position: relative;
	top: -0.25em;
	left: -0.25em;
	box-shadow: 5px 5px 15px rgba(0,0,0,.6);
	transition: box-shadow 300ms, top 300ms, left 300ms;
}

.item.nightly.active {
	box-shadow: inset 0px 0px 15px #fff;
	background: #7eb5e2;
}
.item.nightly:hover.active {
	box-shadow: inset 0px 0px 15px #fff;
	top: 0px;
	left: 0px;
}

.item.nightly a {
	color: #fff;
	line-height: 2em;
	display: block;
		text-decoration: none;
}
.item.nightly a:before {
	content: " ";
	background-image: url('cucumber-mark-white.svg');
	width: 0.84em;
	height: 1em;
	display: inline-block;
	float: left;
	margin: 4px .25em 0px 5px;
	background-size: 100% 100%;
	font-size: 1.85em;
}
/*
.item.nightly.last-execution {
	background: #87CEFA;
}

.item.nightly.last-execution.active {
	background: #7eb5e2;
}
*/
.item .right,
.right {
	float: right;
}

.panel {
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
}

.panel.full {
	background: #002200 linear-gradient(to bottom, #224422 0px,#cccccc 10px, #aaa 32px, #668666 36px,#002200 200px);
	box-shadow: 2px 2px 5px #000;
}

.panel.full h1,
.panel.full h2,
.panel.full h3,
.panel.full h4,
.panel.full h5,
.panel.full h6 {
	padding-top: 0px;
}

.description {
	list-style: none;
		background: #ccc;
		margin-bottom: 5px;
}

.description li {
	float: left;
	width: 50%;
	padding: 3px 0px;
		text-indent: 7px;
}

ul.image-list {
	list-style: none;
}

#applicationHost {
	min-height: 100%;
	background: #222;
}

#shell {
	padding: 0px 10px;
}

.loading-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
}
.loading-container.hover {
	background-color: rgba(0,0,0,.2);
}
.loading {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -25px;
}

.loading > div {
	background-color: #00A818;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loading .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.loading .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.loading .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.loading .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.main-container >.menu {
	float: left;
	width: 15%;
}

.main-container >.menu .nightlies-container {
	font-size: 1em;
}

.main-container >.menu.alone {
	margin-left: 20%;
	width: 60%;
	float: initial;
}

.main-container >.menu.alone .nightlies-container {
	font-size: 1.5em;
}

.main-container >.container {
	float: right;
	width: 84%;
}

.hidden {
	opacity: 0 !important;
	height: 0px !important;
	width: 0px !important;
	overflow: hidden !important;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px !important;
	min-height: 0px !important;
		min-width: 0px !important;
}

.hidden.no-trans{
	transition: none !important;
}

.not-important {
	opacity: .8;
}
.important {
	opacity: .9;
}

.with-image {
	background-image: url('image.gif');
	background-position: 99% .3em;
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.with-output {
	background-image: url('information.png');
	background-position: 99% .3em;
	background-repeat: no-repeat;
	background-origin: padding-box;
}

.with-output.with-image {
	background-image: url('information.png'), url('image.gif');
	background-position: 97% .3em, 99% .3em;
}

.output {
	background: #222;
		color: #eee;
		padding: .5em;
		overflow: auto;
		max-height: 20em;
}

button {
	border-radius: 12px;
		border: solid 2px #222;
		padding: 10px;
		background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
		color: #eee;
		font-weight: bold;
		margin: 0px 0px 5px;
		cursor: pointer;
}

button:hover {
	background: linear-gradient(to bottom, #b2b2b2 0%,#6e6e6e 100%);
}

button:active {
	background: linear-gradient(to bottom, #6e6e6e 0%,#b2b2b2 100%);
}

button:focus {outline:0;}

button[disabled] {
	cursor: not-allowed;
	opacity: .7;
}

.item.marked-as-auto-fix,
.item.marked-as-fix {
	opacity: .6;
}
.item.marked-as-auto-fix.expanded ,
.item.marked-as-fix.expanded	{
	opacity: 1;
}

.item.marked-as-auto-recidivist,
.item.marked-as-recidivist {
	opacity: 1;

		background-image: url('warning-icon.png');
		background-position: 4px .3em;
		background-repeat: no-repeat;
		background-origin: padding-box;
		border: solid 2px #ffa500;
		box-shadow: inset 0px 0px 5px 2px #ffa500;
}

.item.marked-as-auto-recidivist > .title,
.item.marked-as-recidivist > .title {
		padding-left: 23px;
}

label.checkbox {
	line-height: 2em;
	color: #eee;
}
label.checkbox input[type="checkbox"] {
	top: 2px;
	position: relative;
}

#contextMenu {

}
#contextMenu .context-menu-blockout{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 20000;
}

ul.context-menu-container {
	list-style: none;
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	color: #eee;
	padding: 0;

	position: absolute;

	width: 200px;
	box-shadow: 4px 4px 8px 0px #000;
}

ul.context-menu-container li {
	padding: .5em .5em .3em .5em;
	cursor: pointer;
	line-height: 1.2em;
}

ul.context-menu-container li .name {
	display: inline-block;
	max-width: 95%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.2em;
}

ul.context-menu-container /*li:hover*/ {
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #0e0e0e 0%,#7d7e7d 100%);
}

ul.context-menu-container li.context-menu-submenu {
	position: relative;
}
ul.context-menu-container li.context-menu-submenu:after {
	display: inline-block;
	float: right;
	content: '>';
}

ul.context-menu-container li.context-menu-submenu > ul {
	display: none;
}

ul.context-menu-container li.context-menu-submenu:hover > ul {
	display: inherit;
	left: 100%;
	top: 0;
}

.context-menu-rtl ul.context-menu-container li.context-menu-submenu:hover > ul {
	display: inherit;
	left: inherit;
	right: 100%;
	top: 0;
}

.time-graph {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow:row;
	min-height: 50px;
	width:100%;

	margin-bottom: 5px;

	justify-content: flex-start;
	overflow-y: hidden;
	overflow-x: auto;
}

.time-graph .execution {
	font-size:22px;
	flex: 1;
	-webkit-flex: 1;
	text-align: center;
	min-width: 6em;
	max-width: 8em;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	margin-right: 2px;
	vertical-align: middle;
	padding-top: 7px;
	box-sizing: border;
}

.time-graph .execution .date {
	font-size: 11px;
}

.copy-clipboard {
	cursor: pointer;
}

.tags-list {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	max-height: 4.8em;
	overflow-x: hidden;
	overflow-y: auto;
	flex-wrap: wrap;
}
.tags-list li {
	width: 10em;
	min-width: 12em;
	max-width: 12em;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0px 5px 5px 0px;
}

.filter-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 6px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.filter-checkbox:active,
.filter-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.filter-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.filter-checkbox:checked:after {
	content: '\2714';
	font-size: 9px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #666;
}

.filter-checkbox.include-checkbox {
	background: lightgreen linear-gradient(to bottom, #d2ff52 0%,#91e842 100%);
	border: 1px solid #002400;
}
.filter-checkbox.exclude-checkbox {
	background: lightpink linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	border: 1px solid #6d0019;
}
.filter-checkbox.exclude-checkbox:checked:after {
	color: #fff;
}

