@import 'scrollbars.css';
@import 'base.css';
@import 'tag-filters.css';
@import 'toastr.overrides.css';
@import 'modificators.css';
@import 'context-menu.css';

.error-message {
	padding: 12px 6px;
	font-size: 1.2em;
	margin-bottom: 12px;
	border-radius: 12px;
}

.item {
	padding: 2px;
	position: relative;
	background: rgba(0,0,0,.05);
}

.item .title {
	clear: both;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.expandable >.title {
	cursor: pointer;
}

.item >.title * {
	padding-left: 5px;
	white-space: nowrap;
}
.item >.title .name {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 99;
}

.item .keyword {
	font-weight: bold;
}

.passed,
.item.passed {
	background-color: rgba(152,167,113,.8);
}
.passed:hover,
.item.passed:hover {
	background-color: rgba(152,167,113,1);
}

.failed,
.item.failed {
	background-color: rgba(181,118,117,.8);
}
.failed:hover,
.item.failed:hover {
	background-color: rgba(181,118,117,1);
}

.skipped,
.item.skipped {
	background-color: rgba(86,170,197,.8);
}
.skipped:hover,
.item.skipped:hover {
	background-color: rgba(86,170,197,1);
}

.itemised-list {
	list-style: none;
}
.item .itemised-list {
	clear: both;
	float: initial;
}

.item.nightly {
	position: relative;
	top: 0px;
	left: 0px;
	transition: font-size 300ms, box-shadow 600ms, top 300ms, left 300ms;
}

.item.nightly a {
	line-height: 2em;
	display: block;
	text-decoration: none;
}

.recently-collapsed >.title {
	animation-name: recentlyCollapsed;
	animation-duration: 5s;
	animation-iteration-count: 1;
}
.recently-collapsed >.title:hover {
	box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
}
@keyframes recentlyCollapsed {
	0%   {box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);}
	100%  {box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,0);}
}

.panel {
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
}
.panel:last-child {
	margin-bottom: 0px;
}

.panel.full h1,
.panel.full h2,
.panel.full h3,
.panel.full h4,
.panel.full h5,
.panel.full h6 {
	padding-top: 0px;
}

.description {
	list-style: none;
	margin-bottom: 5px;
	padding: .25em .5em;
}

dl.description {
	padding: 0em;
}

.description dd {
	float: left;
	width: 50%;
	padding: 3px 0px;
	text-indent: 7px;
}

#applicationHost {
	min-height: 100%;
}

.loading-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
}
.loading-container.hover {
	background-color: rgba(0,0,0,.2);
}
.loading {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -25px;
}

.loading > div {
	background-color: #00A818;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loading .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.loading .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.loading .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.loading .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.scrollable-contents {
	max-height: 100vh;
	overflow-y: auto;
}

.main-container >.menu .nightlies-container {
	font-size: 1em;
}

.main-container >.menu.alone {
	margin-left: 20%;
	width: 60%;
	float: initial;
}

.main-container >.menu.alone .nightlies-container {
	font-size: 1.5em;
}

.item.is-locally-hidden,
.item.marked-as-auto-fix,
.item.marked-as-fix {
	opacity: .6;
}
.item.marked-as-auto-fix.expanded ,
.item.marked-as-fix.expanded	{
	opacity: 1;
}

.app-in-blackout {
	filter: grayscale(75%);
	transition: filter 1500ms
}
#blackout {
	z-index: 30000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
}

.time-graph {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow:row;

	min-height: 50px;
	width:100%;

	margin-bottom: 5px;

	justify-content: flex-start;
	overflow-y: hidden;
	overflow-x: auto;
}

.time-graph .execution {
	flex: 1;
	-webkit-flex: 1;
	text-align: center;
	min-width: 9em;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	margin-right: 2px;
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 2em;
	box-sizing: border;
	position: relative;
}
.time-graph .execution .modificator.time {
	background: rgba(34,34,34,.5);
	position: absolute;
	bottom: 4px;
	width: 90%;
	left: 2.5%;
}

.time-graph .execution .build-id {
	font-size: 1.4em;
}
.time-graph .execution .date {
	font-size: .8em;
}

.copy-clipboard {
	cursor: pointer;
}

.scenario.expandable.expanded {
	margin-top: 10px;
	margin-bottom: 10px;
}
dd:first-child .scenario.expandable.expanded { margin-top: 0px; }
dd:last-child .scenario.expandable.expanded { margin-bottom: 0px; }


#theme-changer-container {
	padding: 5px 0px 5px 5px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 20;
	background: #444;
}
#theme-changer-container select {
	width: 0px;
	overflow: hidden;
}
#theme-changer-container select:focus,
#theme-changer-container select:active {
	outline: none;
}
#theme-changer-container:hover select {
	width: 150px;
	overflow: initial;
}

#user-info {
	position: fixed;
	top:0;
	right: 1%;
	max-width: 40em;
	height: 2em;
	background: rgba(0,0,0,.6);
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	z-index: 15;
	padding: .25em .5em;
}

#user-info >* {margin-right: .5em;}
#user-info >*:last-child {margin-right: 0;}
#user-info .color-expander {
	background: transparent;
	border: solid 1px black;
	border-width: 3px 0px 3px 3px;
	outline: solid 1px white;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	padding: 0px 12px 0px 6px;
}
#user-info .color-selector {
	display: flex;
	justify-content: flex-start;
}

#user-info .color-selector .color {
	border: solid 3px white;
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	margin-right: 5px;
}
#user-info .color-selector .color:last-child {
	margin-right: 0px;
}
#user-info .color-selector .color.selected {
	outline: solid 2px red;
	border: solid 3px white;
}

#user-info .connection {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: 1.9em;
	line-height: 1.1em;
}
#user-info .connection:before {
	font-family: FontAwesome;
	color: #222;
	content: '\f1eb';
}

#user-info .connection.connected:before {
	color: skyblue;
}

#user-info .connection.reconnecting:before {
	animation: reconnectingIcon;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	color: orange;
}

@keyframes reconnectingIcon {
	0% {color: orange;}
	50% {color: red;}
	0% {color: orange;}
}

.stability.stability-0 { background: #ff0000;}
.stability.stability-1 { background: linear-gradient(to right,#00d000 0%,#00ff00 1%,#ff0000 1%,#ff0000 100%);}
.stability.stability-2 { background: linear-gradient(to right,#00d000 0%,#00ff00 2%,#ff0000 2%,#ff0000 100%);}
.stability.stability-3 { background: linear-gradient(to right,#00d000 0%,#00ff00 3%,#ff0000 3%,#ff0000 100%);}
.stability.stability-4 { background: linear-gradient(to right,#00d000 0%,#00ff00 4%,#ff0000 4%,#ff0000 100%);}
.stability.stability-5 { background: linear-gradient(to right,#00d000 0%,#00ff00 5%,#ff0000 5%,#ff0000 100%);}
.stability.stability-6 { background: linear-gradient(to right,#00d000 0%,#00ff00 6%,#ff0000 6%,#ff0000 100%);}
.stability.stability-7 { background: linear-gradient(to right,#00d000 0%,#00ff00 7%,#ff0000 7%,#ff0000 100%);}
.stability.stability-8 { background: linear-gradient(to right,#00d000 0%,#00ff00 8%,#ff0000 8%,#ff0000 100%);}
.stability.stability-9 { background: linear-gradient(to right,#00d000 0%,#00ff00 9%,#ff0000 9%,#ff0000 100%);}
.stability.stability-10 { background: linear-gradient(to right,#00d000 0%,#00ff00 10%,#ff0000 10%,#ff0000 100%);}
.stability.stability-11 { background: linear-gradient(to right,#00d000 0%,#00ff00 11%,#ff0000 11%,#ff0000 100%);}
.stability.stability-12 { background: linear-gradient(to right,#00d000 0%,#00ff00 12%,#ff0000 12%,#ff0000 100%);}
.stability.stability-13 { background: linear-gradient(to right,#00d000 0%,#00ff00 13%,#ff0000 13%,#ff0000 100%);}
.stability.stability-14 { background: linear-gradient(to right,#00d000 0%,#00ff00 14%,#ff0000 14%,#ff0000 100%);}
.stability.stability-15 { background: linear-gradient(to right,#00d000 0%,#00ff00 15%,#ff0000 15%,#ff0000 100%);}
.stability.stability-16 { background: linear-gradient(to right,#00d000 0%,#00ff00 16%,#ff0000 16%,#ff0000 100%);}
.stability.stability-17 { background: linear-gradient(to right,#00d000 0%,#00ff00 17%,#ff0000 17%,#ff0000 100%);}
.stability.stability-18 { background: linear-gradient(to right,#00d000 0%,#00ff00 18%,#ff0000 18%,#ff0000 100%);}
.stability.stability-19 { background: linear-gradient(to right,#00d000 0%,#00ff00 19%,#ff0000 19%,#ff0000 100%);}
.stability.stability-20 { background: linear-gradient(to right,#00d000 0%,#00ff00 20%,#ff0000 20%,#ff0000 100%);}
.stability.stability-21 { background: linear-gradient(to right,#00d000 0%,#00ff00 21%,#ff0000 21%,#ff0000 100%);}
.stability.stability-22 { background: linear-gradient(to right,#00d000 0%,#00ff00 22%,#ff0000 22%,#ff0000 100%);}
.stability.stability-23 { background: linear-gradient(to right,#00d000 0%,#00ff00 23%,#ff0000 23%,#ff0000 100%);}
.stability.stability-24 { background: linear-gradient(to right,#00d000 0%,#00ff00 24%,#ff0000 24%,#ff0000 100%);}
.stability.stability-25 { background: linear-gradient(to right,#00d000 0%,#00ff00 25%,#ff0000 25%,#ff0000 100%);}
.stability.stability-26 { background: linear-gradient(to right,#00d000 0%,#00ff00 26%,#ff0000 26%,#ff0000 100%);}
.stability.stability-27 { background: linear-gradient(to right,#00d000 0%,#00ff00 27%,#ff0000 27%,#ff0000 100%);}
.stability.stability-28 { background: linear-gradient(to right,#00d000 0%,#00ff00 28%,#ff0000 28%,#ff0000 100%);}
.stability.stability-29 { background: linear-gradient(to right,#00d000 0%,#00ff00 29%,#ff0000 29%,#ff0000 100%);}
.stability.stability-30 { background: linear-gradient(to right,#00d000 0%,#00ff00 30%,#ff0000 30%,#ff0000 100%);}
.stability.stability-31 { background: linear-gradient(to right,#00d000 0%,#00ff00 31%,#ff0000 31%,#ff0000 100%);}
.stability.stability-32 { background: linear-gradient(to right,#00d000 0%,#00ff00 32%,#ff0000 32%,#ff0000 100%);}
.stability.stability-33 { background: linear-gradient(to right,#00d000 0%,#00ff00 33%,#ff0000 33%,#ff0000 100%);}
.stability.stability-34 { background: linear-gradient(to right,#00d000 0%,#00ff00 34%,#ff0000 34%,#ff0000 100%);}
.stability.stability-35 { background: linear-gradient(to right,#00d000 0%,#00ff00 35%,#ff0000 35%,#ff0000 100%);}
.stability.stability-36 { background: linear-gradient(to right,#00d000 0%,#00ff00 36%,#ff0000 36%,#ff0000 100%);}
.stability.stability-37 { background: linear-gradient(to right,#00d000 0%,#00ff00 37%,#ff0000 37%,#ff0000 100%);}
.stability.stability-38 { background: linear-gradient(to right,#00d000 0%,#00ff00 38%,#ff0000 38%,#ff0000 100%);}
.stability.stability-39 { background: linear-gradient(to right,#00d000 0%,#00ff00 39%,#ff0000 39%,#ff0000 100%);}
.stability.stability-40 { background: linear-gradient(to right,#00d000 0%,#00ff00 40%,#ff0000 40%,#ff0000 100%);}
.stability.stability-41 { background: linear-gradient(to right,#00d000 0%,#00ff00 41%,#ff0000 41%,#ff0000 100%);}
.stability.stability-42 { background: linear-gradient(to right,#00d000 0%,#00ff00 42%,#ff0000 42%,#ff0000 100%);}
.stability.stability-43 { background: linear-gradient(to right,#00d000 0%,#00ff00 43%,#ff0000 43%,#ff0000 100%);}
.stability.stability-44 { background: linear-gradient(to right,#00d000 0%,#00ff00 44%,#ff0000 44%,#ff0000 100%);}
.stability.stability-45 { background: linear-gradient(to right,#00d000 0%,#00ff00 45%,#ff0000 45%,#ff0000 100%);}
.stability.stability-46 { background: linear-gradient(to right,#00d000 0%,#00ff00 46%,#ff0000 46%,#ff0000 100%);}
.stability.stability-47 { background: linear-gradient(to right,#00d000 0%,#00ff00 47%,#ff0000 47%,#ff0000 100%);}
.stability.stability-48 { background: linear-gradient(to right,#00d000 0%,#00ff00 48%,#ff0000 48%,#ff0000 100%);}
.stability.stability-49 { background: linear-gradient(to right,#00d000 0%,#00ff00 49%,#ff0000 49%,#ff0000 100%);}
.stability.stability-50 { background: linear-gradient(to right,#00d000 0%,#00ff00 50%,#ff0000 50%,#ff0000 100%);}
.stability.stability-51 { background: linear-gradient(to right,#00d000 0%,#00ff00 51%,#ff0000 51%,#ff0000 100%);}
.stability.stability-52 { background: linear-gradient(to right,#00d000 0%,#00ff00 52%,#ff0000 52%,#ff0000 100%);}
.stability.stability-53 { background: linear-gradient(to right,#00d000 0%,#00ff00 53%,#ff0000 53%,#ff0000 100%);}
.stability.stability-54 { background: linear-gradient(to right,#00d000 0%,#00ff00 54%,#ff0000 54%,#ff0000 100%);}
.stability.stability-55 { background: linear-gradient(to right,#00d000 0%,#00ff00 55%,#ff0000 55%,#ff0000 100%);}
.stability.stability-56 { background: linear-gradient(to right,#00d000 0%,#00ff00 56%,#ff0000 56%,#ff0000 100%);}
.stability.stability-57 { background: linear-gradient(to right,#00d000 0%,#00ff00 57%,#ff0000 57%,#ff0000 100%);}
.stability.stability-58 { background: linear-gradient(to right,#00d000 0%,#00ff00 58%,#ff0000 58%,#ff0000 100%);}
.stability.stability-59 { background: linear-gradient(to right,#00d000 0%,#00ff00 59%,#ff0000 59%,#ff0000 100%);}
.stability.stability-60 { background: linear-gradient(to right,#00d000 0%,#00ff00 60%,#ff0000 60%,#ff0000 100%);}
.stability.stability-61 { background: linear-gradient(to right,#00d000 0%,#00ff00 61%,#ff0000 61%,#ff0000 100%);}
.stability.stability-62 { background: linear-gradient(to right,#00d000 0%,#00ff00 62%,#ff0000 62%,#ff0000 100%);}
.stability.stability-63 { background: linear-gradient(to right,#00d000 0%,#00ff00 63%,#ff0000 63%,#ff0000 100%);}
.stability.stability-64 { background: linear-gradient(to right,#00d000 0%,#00ff00 64%,#ff0000 64%,#ff0000 100%);}
.stability.stability-65 { background: linear-gradient(to right,#00d000 0%,#00ff00 65%,#ff0000 65%,#ff0000 100%);}
.stability.stability-66 { background: linear-gradient(to right,#00d000 0%,#00ff00 66%,#ff0000 66%,#ff0000 100%);}
.stability.stability-67 { background: linear-gradient(to right,#00d000 0%,#00ff00 67%,#ff0000 67%,#ff0000 100%);}
.stability.stability-68 { background: linear-gradient(to right,#00d000 0%,#00ff00 68%,#ff0000 68%,#ff0000 100%);}
.stability.stability-69 { background: linear-gradient(to right,#00d000 0%,#00ff00 69%,#ff0000 69%,#ff0000 100%);}
.stability.stability-70 { background: linear-gradient(to right,#00d000 0%,#00ff00 70%,#ff0000 70%,#ff0000 100%);}
.stability.stability-71 { background: linear-gradient(to right,#00d000 0%,#00ff00 71%,#ff0000 71%,#ff0000 100%);}
.stability.stability-72 { background: linear-gradient(to right,#00d000 0%,#00ff00 72%,#ff0000 72%,#ff0000 100%);}
.stability.stability-73 { background: linear-gradient(to right,#00d000 0%,#00ff00 73%,#ff0000 73%,#ff0000 100%);}
.stability.stability-74 { background: linear-gradient(to right,#00d000 0%,#00ff00 74%,#ff0000 74%,#ff0000 100%);}
.stability.stability-75 { background: linear-gradient(to right,#00d000 0%,#00ff00 75%,#ff0000 75%,#ff0000 100%);}
.stability.stability-76 { background: linear-gradient(to right,#00d000 0%,#00ff00 76%,#ff0000 76%,#ff0000 100%);}
.stability.stability-77 { background: linear-gradient(to right,#00d000 0%,#00ff00 77%,#ff0000 77%,#ff0000 100%);}
.stability.stability-78 { background: linear-gradient(to right,#00d000 0%,#00ff00 78%,#ff0000 78%,#ff0000 100%);}
.stability.stability-79 { background: linear-gradient(to right,#00d000 0%,#00ff00 79%,#ff0000 79%,#ff0000 100%);}
.stability.stability-80 { background: linear-gradient(to right,#00d000 0%,#00ff00 80%,#ff0000 80%,#ff0000 100%);}
.stability.stability-81 { background: linear-gradient(to right,#00d000 0%,#00ff00 81%,#ff0000 81%,#ff0000 100%);}
.stability.stability-82 { background: linear-gradient(to right,#00d000 0%,#00ff00 82%,#ff0000 82%,#ff0000 100%);}
.stability.stability-83 { background: linear-gradient(to right,#00d000 0%,#00ff00 83%,#ff0000 83%,#ff0000 100%);}
.stability.stability-84 { background: linear-gradient(to right,#00d000 0%,#00ff00 84%,#ff0000 84%,#ff0000 100%);}
.stability.stability-85 { background: linear-gradient(to right,#00d000 0%,#00ff00 85%,#ff0000 85%,#ff0000 100%);}
.stability.stability-86 { background: linear-gradient(to right,#00d000 0%,#00ff00 86%,#ff0000 86%,#ff0000 100%);}
.stability.stability-87 { background: linear-gradient(to right,#00d000 0%,#00ff00 87%,#ff0000 87%,#ff0000 100%);}
.stability.stability-88 { background: linear-gradient(to right,#00d000 0%,#00ff00 88%,#ff0000 88%,#ff0000 100%);}
.stability.stability-89 { background: linear-gradient(to right,#00d000 0%,#00ff00 89%,#ff0000 89%,#ff0000 100%);}
.stability.stability-90 { background: linear-gradient(to right,#00d000 0%,#00ff00 90%,#ff0000 90%,#ff0000 100%);}
.stability.stability-91 { background: linear-gradient(to right,#00d000 0%,#00ff00 91%,#ff0000 91%,#ff0000 100%);}
.stability.stability-92 { background: linear-gradient(to right,#00d000 0%,#00ff00 92%,#ff0000 92%,#ff0000 100%);}
.stability.stability-93 { background: linear-gradient(to right,#00d000 0%,#00ff00 93%,#ff0000 93%,#ff0000 100%);}
.stability.stability-94 { background: linear-gradient(to right,#00d000 0%,#00ff00 94%,#ff0000 94%,#ff0000 100%);}
.stability.stability-95 { background: linear-gradient(to right,#00d000 0%,#00ff00 95%,#ff0000 95%,#ff0000 100%);}
.stability.stability-96 { background: linear-gradient(to right,#00d000 0%,#00ff00 96%,#ff0000 96%,#ff0000 100%);}
.stability.stability-97 { background: linear-gradient(to right,#00d000 0%,#00ff00 97%,#ff0000 97%,#ff0000 100%);}
.stability.stability-98 { background: linear-gradient(to right,#00d000 0%,#00ff00 98%,#ff0000 98%,#ff0000 100%);}
.stability.stability-99 { background: linear-gradient(to right,#00d000 0%,#00ff00 99%,#ff0000 99%,#ff0000 100%);}
.stability.stability-100 { background: #00d000;}

.execution.duration-0   {}
.execution.duration-1   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 98%,rgba(255,255,255,1) 99%,rgba(255,255,255,0.20) 100%,rgba(255,255,255,0.05) 100%);}
.execution.duration-2   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 97%,rgba(255,255,255,1) 98%,rgba(255,255,255,0.20) 99%,rgba(255,255,255,0.05) 100%);}
.execution.duration-3   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 96%,rgba(255,255,255,1) 97%,rgba(255,255,255,0.20) 98%,rgba(255,255,255,0.05) 100%);}
.execution.duration-4   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 95%,rgba(255,255,255,1) 96%,rgba(255,255,255,0.20) 97%,rgba(255,255,255,0.05) 100%);}
.execution.duration-5   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 94%,rgba(255,255,255,1) 95%,rgba(255,255,255,0.20) 96%,rgba(255,255,255,0.05) 100%);}
.execution.duration-6   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 93%,rgba(255,255,255,1) 94%,rgba(255,255,255,0.20) 95%,rgba(255,255,255,0.05) 100%);}
.execution.duration-7   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 92%,rgba(255,255,255,1) 93%,rgba(255,255,255,0.20) 94%,rgba(255,255,255,0.05) 100%);}
.execution.duration-8   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 91%,rgba(255,255,255,1) 92%,rgba(255,255,255,0.20) 93%,rgba(255,255,255,0.05) 100%);}
.execution.duration-9   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 90%,rgba(255,255,255,1) 91%,rgba(255,255,255,0.20) 92%,rgba(255,255,255,0.05) 100%);}
.execution.duration-10   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 89%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.20) 91%,rgba(255,255,255,0.05) 100%);}
.execution.duration-11   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 88%,rgba(255,255,255,1) 89%,rgba(255,255,255,0.20) 90%,rgba(255,255,255,0.05) 100%);}
.execution.duration-12   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 87%,rgba(255,255,255,1) 88%,rgba(255,255,255,0.20) 89%,rgba(255,255,255,0.05) 100%);}
.execution.duration-13   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 86%,rgba(255,255,255,1) 87%,rgba(255,255,255,0.20) 88%,rgba(255,255,255,0.05) 100%);}
.execution.duration-14   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 85%,rgba(255,255,255,1) 86%,rgba(255,255,255,0.20) 87%,rgba(255,255,255,0.05) 100%);}
.execution.duration-15   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 84%,rgba(255,255,255,1) 85%,rgba(255,255,255,0.20) 86%,rgba(255,255,255,0.05) 100%);}
.execution.duration-16   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 83%,rgba(255,255,255,1) 84%,rgba(255,255,255,0.20) 85%,rgba(255,255,255,0.05) 100%);}
.execution.duration-17   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 82%,rgba(255,255,255,1) 83%,rgba(255,255,255,0.20) 84%,rgba(255,255,255,0.05) 100%);}
.execution.duration-18   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 81%,rgba(255,255,255,1) 82%,rgba(255,255,255,0.20) 83%,rgba(255,255,255,0.05) 100%);}
.execution.duration-19   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 80%,rgba(255,255,255,1) 81%,rgba(255,255,255,0.20) 82%,rgba(255,255,255,0.05) 100%);}
.execution.duration-20   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 79%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.20) 81%,rgba(255,255,255,0.05) 100%);}
.execution.duration-21   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 78%,rgba(255,255,255,1) 79%,rgba(255,255,255,0.20) 80%,rgba(255,255,255,0.05) 100%);}
.execution.duration-22   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 77%,rgba(255,255,255,1) 78%,rgba(255,255,255,0.20) 79%,rgba(255,255,255,0.05) 100%);}
.execution.duration-23   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 76%,rgba(255,255,255,1) 77%,rgba(255,255,255,0.20) 78%,rgba(255,255,255,0.05) 100%);}
.execution.duration-24   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%,rgba(255,255,255,1) 76%,rgba(255,255,255,0.20) 77%,rgba(255,255,255,0.05) 100%);}
.execution.duration-25   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 74%,rgba(255,255,255,1) 75%,rgba(255,255,255,0.20) 76%,rgba(255,255,255,0.05) 100%);}
.execution.duration-26   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 73%,rgba(255,255,255,1) 74%,rgba(255,255,255,0.20) 75%,rgba(255,255,255,0.05) 100%);}
.execution.duration-27   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 72%,rgba(255,255,255,1) 73%,rgba(255,255,255,0.20) 74%,rgba(255,255,255,0.05) 100%);}
.execution.duration-28   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 71%,rgba(255,255,255,1) 72%,rgba(255,255,255,0.20) 73%,rgba(255,255,255,0.05) 100%);}
.execution.duration-29   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%,rgba(255,255,255,1) 71%,rgba(255,255,255,0.20) 72%,rgba(255,255,255,0.05) 100%);}
.execution.duration-30   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 69%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.20) 71%,rgba(255,255,255,0.05) 100%);}
.execution.duration-31   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 68%,rgba(255,255,255,1) 69%,rgba(255,255,255,0.20) 70%,rgba(255,255,255,0.05) 100%);}
.execution.duration-32   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 67%,rgba(255,255,255,1) 68%,rgba(255,255,255,0.20) 69%,rgba(255,255,255,0.05) 100%);}
.execution.duration-33   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 66%,rgba(255,255,255,1) 67%,rgba(255,255,255,0.20) 68%,rgba(255,255,255,0.05) 100%);}
.execution.duration-34   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 65%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.20) 67%,rgba(255,255,255,0.05) 100%);}
.execution.duration-35   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 64%,rgba(255,255,255,1) 65%,rgba(255,255,255,0.20) 66%,rgba(255,255,255,0.05) 100%);}
.execution.duration-36   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 63%,rgba(255,255,255,1) 64%,rgba(255,255,255,0.20) 65%,rgba(255,255,255,0.05) 100%);}
.execution.duration-37   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 62%,rgba(255,255,255,1) 63%,rgba(255,255,255,0.20) 64%,rgba(255,255,255,0.05) 100%);}
.execution.duration-38   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 61%,rgba(255,255,255,1) 62%,rgba(255,255,255,0.20) 63%,rgba(255,255,255,0.05) 100%);}
.execution.duration-39   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 60%,rgba(255,255,255,1) 61%,rgba(255,255,255,0.20) 62%,rgba(255,255,255,0.05) 100%);}
.execution.duration-40   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 59%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.20) 61%,rgba(255,255,255,0.05) 100%);}
.execution.duration-41   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 58%,rgba(255,255,255,1) 59%,rgba(255,255,255,0.20) 60%,rgba(255,255,255,0.05) 100%);}
.execution.duration-42   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 57%,rgba(255,255,255,1) 58%,rgba(255,255,255,0.20) 59%,rgba(255,255,255,0.05) 100%);}
.execution.duration-43   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 56%,rgba(255,255,255,1) 57%,rgba(255,255,255,0.20) 58%,rgba(255,255,255,0.05) 100%);}
.execution.duration-44   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 55%,rgba(255,255,255,1) 56%,rgba(255,255,255,0.20) 57%,rgba(255,255,255,0.05) 100%);}
.execution.duration-45   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 54%,rgba(255,255,255,1) 55%,rgba(255,255,255,0.20) 56%,rgba(255,255,255,0.05) 100%);}
.execution.duration-46   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,0.20) 55%,rgba(255,255,255,0.05) 100%);}
.execution.duration-47   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 52%,rgba(255,255,255,1) 53%,rgba(255,255,255,0.20) 54%,rgba(255,255,255,0.05) 100%);}
.execution.duration-48   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 51%,rgba(255,255,255,1) 52%,rgba(255,255,255,0.20) 53%,rgba(255,255,255,0.05) 100%);}
.execution.duration-49   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,0.20) 52%,rgba(255,255,255,0.05) 100%);}
.execution.duration-50   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.20) 51%,rgba(255,255,255,0.05) 100%);}
.execution.duration-51   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 48%,rgba(255,255,255,1) 49%,rgba(255,255,255,0.20) 50%,rgba(255,255,255,0.05) 100%);}
.execution.duration-52   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 47%,rgba(255,255,255,1) 48%,rgba(255,255,255,0.20) 49%,rgba(255,255,255,0.05) 100%);}
.execution.duration-53   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 46%,rgba(255,255,255,1) 47%,rgba(255,255,255,0.20) 48%,rgba(255,255,255,0.05) 100%);}
.execution.duration-54   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 45%,rgba(255,255,255,1) 46%,rgba(255,255,255,0.20) 47%,rgba(255,255,255,0.05) 100%);}
.execution.duration-55   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 44%,rgba(255,255,255,1) 45%,rgba(255,255,255,0.20) 46%,rgba(255,255,255,0.05) 100%);}
.execution.duration-56   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 43%,rgba(255,255,255,1) 44%,rgba(255,255,255,0.20) 45%,rgba(255,255,255,0.05) 100%);}
.execution.duration-57   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,0.20) 44%,rgba(255,255,255,0.05) 100%);}
.execution.duration-58   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 41%,rgba(255,255,255,1) 42%,rgba(255,255,255,0.20) 43%,rgba(255,255,255,0.05) 100%);}
.execution.duration-59   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(255,255,255,1) 41%,rgba(255,255,255,0.20) 42%,rgba(255,255,255,0.05) 100%);}
.execution.duration-60   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 39%,rgba(255,255,255,1) 40%,rgba(255,255,255,0.20) 41%,rgba(255,255,255,0.05) 100%);}
.execution.duration-61   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 38%,rgba(255,255,255,1) 39%,rgba(255,255,255,0.20) 40%,rgba(255,255,255,0.05) 100%);}
.execution.duration-62   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 37%,rgba(255,255,255,1) 38%,rgba(255,255,255,0.20) 39%,rgba(255,255,255,0.05) 100%);}
.execution.duration-63   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 36%,rgba(255,255,255,1) 37%,rgba(255,255,255,0.20) 38%,rgba(255,255,255,0.05) 100%);}
.execution.duration-64   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 35%,rgba(255,255,255,1) 36%,rgba(255,255,255,0.20) 37%,rgba(255,255,255,0.05) 100%);}
.execution.duration-65   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 34%,rgba(255,255,255,1) 35%,rgba(255,255,255,0.20) 36%,rgba(255,255,255,0.05) 100%);}
.execution.duration-66   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 33%,rgba(255,255,255,1) 34%,rgba(255,255,255,0.20) 35%,rgba(255,255,255,0.05) 100%);}
.execution.duration-67   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 32%,rgba(255,255,255,1) 33%,rgba(255,255,255,0.20) 34%,rgba(255,255,255,0.05) 100%);}
.execution.duration-68   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 31%,rgba(255,255,255,1) 32%,rgba(255,255,255,0.20) 33%,rgba(255,255,255,0.05) 100%);}
.execution.duration-69   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(255,255,255,1) 31%,rgba(255,255,255,0.20) 32%,rgba(255,255,255,0.05) 100%);}
.execution.duration-70   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 29%,rgba(255,255,255,1) 30%,rgba(255,255,255,0.20) 31%,rgba(255,255,255,0.05) 100%);}
.execution.duration-71   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 28%,rgba(255,255,255,1) 29%,rgba(255,255,255,0.20) 30%,rgba(255,255,255,0.05) 100%);}
.execution.duration-72   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 27%,rgba(255,255,255,1) 28%,rgba(255,255,255,0.20) 29%,rgba(255,255,255,0.05) 100%);}
.execution.duration-73   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 26%,rgba(255,255,255,1) 27%,rgba(255,255,255,0.20) 28%,rgba(255,255,255,0.05) 100%);}
.execution.duration-74   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(255,255,255,1) 26%,rgba(255,255,255,0.20) 27%,rgba(255,255,255,0.05) 100%);}
.execution.duration-75   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 24%,rgba(255,255,255,1) 25%,rgba(255,255,255,0.20) 26%,rgba(255,255,255,0.05) 100%);}
.execution.duration-76   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 23%,rgba(255,255,255,1) 24%,rgba(255,255,255,0.20) 25%,rgba(255,255,255,0.05) 100%);}
.execution.duration-77   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 22%,rgba(255,255,255,1) 23%,rgba(255,255,255,0.20) 24%,rgba(255,255,255,0.05) 100%);}
.execution.duration-78   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 21%,rgba(255,255,255,1) 22%,rgba(255,255,255,0.20) 23%,rgba(255,255,255,0.05) 100%);}
.execution.duration-79   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.20) 22%,rgba(255,255,255,0.05) 100%);}
.execution.duration-80   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 19%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.20) 21%,rgba(255,255,255,0.05) 100%);}
.execution.duration-81   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 18%,rgba(255,255,255,1) 19%,rgba(255,255,255,0.20) 20%,rgba(255,255,255,0.05) 100%);}
.execution.duration-82   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 17%,rgba(255,255,255,1) 18%,rgba(255,255,255,0.20) 19%,rgba(255,255,255,0.05) 100%);}
.execution.duration-83   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 16%,rgba(255,255,255,1) 17%,rgba(255,255,255,0.20) 18%,rgba(255,255,255,0.05) 100%);}
.execution.duration-84   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 15%,rgba(255,255,255,1) 16%,rgba(255,255,255,0.20) 17%,rgba(255,255,255,0.05) 100%);}
.execution.duration-85   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 14%,rgba(255,255,255,1) 15%,rgba(255,255,255,0.20) 16%,rgba(255,255,255,0.05) 100%);}
.execution.duration-86   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 13%,rgba(255,255,255,1) 14%,rgba(255,255,255,0.20) 15%,rgba(255,255,255,0.05) 100%);}
.execution.duration-87   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 12%,rgba(255,255,255,1) 13%,rgba(255,255,255,0.20) 14%,rgba(255,255,255,0.05) 100%);}
.execution.duration-88   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 11%,rgba(255,255,255,1) 12%,rgba(255,255,255,0.20) 13%,rgba(255,255,255,0.05) 100%);}
.execution.duration-89   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(255,255,255,1) 11%,rgba(255,255,255,0.20) 12%,rgba(255,255,255,0.05) 100%);}
.execution.duration-90   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 9%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.20) 11%,rgba(255,255,255,0.05) 100%);}
.execution.duration-91   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 8%,rgba(255,255,255,1) 9%,rgba(255,255,255,0.20) 10%,rgba(255,255,255,0.05) 100%);}
.execution.duration-92   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 7%,rgba(255,255,255,1) 8%,rgba(255,255,255,0.20) 9%,rgba(255,255,255,0.05) 100%);}
.execution.duration-93   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 6%,rgba(255,255,255,1) 7%,rgba(255,255,255,0.20) 8%,rgba(255,255,255,0.05) 100%);}
.execution.duration-94   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(255,255,255,1) 6%,rgba(255,255,255,0.20) 7%,rgba(255,255,255,0.05) 100%);}
.execution.duration-95   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 4%,rgba(255,255,255,1) 5%,rgba(255,255,255,0.20) 6%,rgba(255,255,255,0.05) 100%);}
.execution.duration-96   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 3%,rgba(255,255,255,1) 4%,rgba(255,255,255,0.20) 5%,rgba(255,255,255,0.05) 100%);}
.execution.duration-97   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 2%,rgba(255,255,255,1) 3%,rgba(255,255,255,0.20) 4%,rgba(255,255,255,0.05) 100%);}
.execution.duration-98   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(255,255,255,1) 2%,rgba(255,255,255,0.20) 3%,rgba(255,255,255,0.05) 100%);}
.execution.duration-99   {background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,0.20) 2%,rgba(255,255,255,0.05) 100%);}
.execution.duration-100 {background-image: linear-gradient(to bottom, rgba(255,255,255,0.60) 0%,rgba(255,255,255,0.2) 100%);}
