html, body {
	font: normal 14px/20px 'Trebuchet MS', Sans-Serif;
	color: #ddd;
	font-family: 'Open Sans', sans-serif;
}

#applicationHost {
	background: #222;
}

h1, h2, h3, h4, h5, h6 {
	color: #eee;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	margin-left: 0;
	padding-left: 0;
}
.error-message {
	color: #222;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.item {
	background-color: #555;
}
.passed,
.item.passed {
	color: #000;
}

.failed,
.item.failed {
	color: #000;
}

.skipped,
.item.skipped {
	color: #000;
}

.description {
	background: #444;
}

.itemised-list.nightlies-container {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-start;
	flex-flow: column;
	border-width: 0px;
	overflow: hidden;
	border-bottom: 1px #444 solid;
}

.item.nightly {
	cursor: pointer;
	background: #222 linear-gradient(to bottom, #111111 0%, #2a2a2a 100%);
	color: #eee;
	border: solid 1px #333;
	border-color: #555 #333 #333 #555;
	border-width: 1px;

	padding: 0px 0px;
	text-indent: 7px;
	min-width: 100px;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	user-select: none;
	border-radius: 4px 4px 0px 0px;
}

.item.nightly a{
	color: #eee;
}
.item.nightly:hover {
	position: relative;
	box-shadow: inset 7px 0px 10px -5px #fff
	/*top: -0.25em;
	left: -0.25em;
	box-shadow: 5px 5px 15px rgba(0,0,0,.6);
	transition: box-shadow 300ms, top 300ms, left 300ms;*/
}
.item.nightly.active {
	box-shadow: inset 7px 0px 10px -5px #10ee10
}
.panel.full {
	background: #333;
	box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

.loading-container.hover {
	background-color: rgba(0,0,0,.2);
}
.loading > div {
	background-color: #00A818;
}

button {
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	color: #eee;
}
button:hover {
	background: linear-gradient(to bottom, #b2b2b2 0%,#6e6e6e 100%);
}

button:active {
	background: linear-gradient(to bottom, #6e6e6e 0%,#b2b2b2 100%);
}
label.checkbox {
	color: #eee;
}
dl.context-menu-container {
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	color: #eee;
	box-shadow: 4px 4px 8px 0px #000;
}
dl.context-menu-container dd {
	color: #eee;
}


/* others */
.main-title {
	display: none;
}
#home h2 {display: none;}

.main-container >.menu {
	float: left;
	position: fixed;
	left: 0;
	z-index: 20;
	overflow: hidden;
	padding: 5px 5px 5px 0px;
	background: #444;
}
.main-container >.menu .panel {
	padding: 0;
}
.main-container >.menu:hover .nightlies-container {
	width: 400px;
}
.main-container >.menu .nightlies-container {
	width: 0px;
}

.main-container >.menu.alone {
	padding: 5px;
}

.main-container >.menu.alone .nightlies-container {
	width: 100%;
}


.main-container >.container {
	/*float: right;
	width: 84%;*/
	padding: 12px
}

.filter-checkbox { opacity: .8; }
.filter-checkbox:hover { opacity: 1; }

.panel.full >h1,
.panel.full >h2,
.panel.full >h3,
.panel.full >h4,
.panel.full >h5,
.panel.full >h6 {
	font-size: 16px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.panel.expanded.full >h1,
.panel.expanded.full >h2,
.panel.expanded.full >h3,
.panel.expanded.full >h4,
.panel.expanded.full >h5,
.panel.expanded.full >h6 {
	border-bottom: 1px solid #444;
	padding-bottom: 8px;
	margin-bottom: 10px;
}
